{# faking url, because I'm lazy #}
<nav class="pager clear">
    <ul>
      {% if previous_day %}
        <li class="prev" title="{{ previous_day }}">
          <a href="{% url 'actions_for_today' %}{{ previous_day|date:'Y/m/d/' }}">
            <span>previous</span>
          </a>
        </li>
      {% endif %}
      <li class="current">{{ current_date_string }}</li>
      {% if next_day %}
        <li class="next" title="{{ next_day }}">
          <a href="{% url 'actions_for_today' %}{{ next_day|date:'Y/m/d/' }}">
            <span>next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
