{% extends "base.html" %}

{% load activity_tags %}

{% block title %}Timeline{% if timeline_for %} for {{ timeline_for }}{% endif %}{% endblock %}

{% block content %}

{% for k, v in actions.items %}
  {% if v.actor_count < 4 %}
   {{ v.actors|join_and }} 
  {% else %}
    {{ v.actors.0 }} and {{ v.actor_count }} others 
  {% endif %}
    {{ v.verb }}<br>
    <a href="{{ v.item.get_absolute_url }}">{{ k }}</a><br>
     <time datetime="{{ v.last_modified|date:"Y-m-d" }}">Last updated {{ v.last_modified|timesince }} ago</time><br>
{% endfor %}

{% comment %}
<hr>

{% regroup object_list by target as grouped_items %}
  <ul class="fancy">
    {% for x in grouped_items %}
      {% with x.list|length|add:"-1" as x_count %}
        {% with x.list.0 as latest_action %}
          <li>
            <small>
              {{ latest_action.actor }}
              {% if x_count > 0 %} and {{ x_count }} other {% endif %}
              {{ latest_action.short_action_string }}
            </small>
            <a href="{{ latest_action.get_absolute_url }}">{{ x.grouper }}</a>
          </li>
        {% endwith %}
      {% endwith %}

      <li>
        {% with x.list.0 as c_obj %}
          <a href="{{ x.grouper.get_absolute_url }}#comments" class="meta kicker">
            {{ x.grouper }}&nbsp;{{ c_obj.content_type }}
          </a>
        {% endwith %}
      </li>
    {% endfor %}
  </ul>

  {% for obj in object_list %}
    {% ifchanged obj.timestamp.day %}
      <h3>{{ obj.timestamp|date:"F jS, Y" }}</h3>
    {% endifchanged %}
    <p>
      {% ifchanged obj.target %}
        <small>{{ obj.short_action_string }}</small>
        <a href="{{ obj.get_absolute_url }}">{{ obj.target }}</a>
        <time>{{ obj.timestamp|timesince }} ago</time>
      {% else %}
        <small>along with {{ obj.actor }}</small>
      {% endifchanged %}
    </p>

  {% endfor %}
    previous: {{ previous }}
     {% endcomment %}
{% endblock %}

