{% extends "base.html" %}

{% block title %}Activity for {{ day|date:"F jS, Y"}}{% if timeline_for %} for {{ timeline_for }}{% endif %}{% endblock %}

{% block content %}
<h1>Activity for {{ day|date:"F jS, Y"}}{% if timeline_for %} for {{ timeline_for }}{% endif %}</h1>
  {% if items %}
    {% for item in items %}
      <p><a href="{{ item.get_absolute_url }}">{{ item.content_object }}</a></p>
    {% endfor %}
  {% else %}
    <p>There are no items from this day.</p>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% load calendar %}
  <h5>{{ day|date:"F"}}</h5>
  {% calendar day.year day.month day %}
  {% include "timelines/snippets/model_chooser.html" %}  
{% endblock %}