{% extends "base.html" %}

{% block title %}Timeline: {{ year }}{% if timeline_for %} for {{ timeline_for }}{% endif %}{% endblock %}

{% block content %}
    {% if items %}
      {% for item in items %}
        {% ifchanged item.timestamp.month %}
          {% if timeline_for %}
            <h3><a href="{% url timelines_month username=timeline_for.username, year=item.timestamp.year, month=item.timestamp|date:"b" %}">{{ item.timestamp|date:"F jS, Y" }}</a></h3>
          {% else %}
            <h3><a href="{% url timelines_month item.timestamp.year,item.timestamp|date:"b" %}">{{ item.timestamp|date:"F jS, Y" }}</a></h3>
          {% endif %}
        {% endifchanged %}
        <p><a href="{{ item.get_absolute_url }}">{{ item.content_object }}</a></p>
      {% endfor %}
    {% else %}
      <p>There are no items from this year.</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
  {% load calendar %}
  <h5>{{ year }} by month</h5>
  <ul>
    {% for month in date_list %}
      <li><a href="{% url timelines_archive %}{{ year }}/{{ month|date:"b" }}/">{{ month|date:"F" }}</a></li>
    {% endfor %}
  </ul>
  {% include "timelines/snippets/model_chooser.html" %}
{% endblock %}